In [33]:
import pandas as pd
import numpy as np

In [34]:
"""
There are two datasets provided by boston PD from june 15 2015 Aug 17 2019:
1. crime_boston.csv: Contains info about crime incident reports.
2. offense_codes_boston.xlsx: Contains description of offense codes.
"""

'\nThere are two datasets provided by boston PD from june 15 2015 Aug 17 2019:\n1. crime_boston.csv: Contains info about crime incident reports.\n2. offense_codes_boston.xlsx: Contains description of offense codes.\n'

In [35]:
#Dataset-A containing crime incident reports
crime=pd.read_csv(r'C:\Users\admin\Desktop\crime_boston.csv')

#Dataset-B containing offense codes
offense=pd.read_excel(r'C:\Users\admin\Desktop\offense_codes_boston.xlsx')

# Granularity

In [36]:
crime=pd.read_csv(r'C:\Users\admin\Desktop\crime_boston.csv')
crime

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,I192064813,3006,Medical Assistance,SICK/INJURED/MEDICAL - PERSON,D14,794,NaN,2019-08-17 21:00:00,2019,8,Saturday,21,Part Three,QUINT AVE,NaN,NaN,"(0.00000000, 0.00000000)"
1,I192064810,3410,Towed,TOWED MOTOR VEHICLE,B3,435,NaN,2019-08-17 21:15:00,2019,8,Saturday,21,Part Three,PEACEVALE RD,42.287167,-71.076335,"(42.28716674, -71.07633479)"
2,I192064808,2003,Offenses Against Child / Family,CHILD ENDANGERMENT (NO ASSAULT),C11,355,NaN,2019-08-17 19:33:00,2019,8,Saturday,19,Part Two,GIBSON ST,42.297555,-71.059709,"(42.29755533, -71.05970910)"
3,I192064803,802,Simple Assault,ASSAULT SIMPLE - BATTERY,E18,554,NaN,2019-08-17 20:55:00,2019,8,Saturday,20,Part Two,METROPOLITAN AVE,42.272509,-71.123190,"(42.27250898, -71.12318965)"
4,I192064800,3114,Investigate Property,INVESTIGATE PROPERTY,E18,502,NaN,2019-08-17 19:39:00,2019,8,Saturday,19,Part Three,PHILBRICK ST,42.285459,-71.118027,"(42.28545883, -71.11802667)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413667,I020691165-00,3125,Warrant Arrests,WARRANT ARREST,A1,77,NaN,2019-05-23 08:00:00,2019,5,Thursday,8,Part Three,NEW SUDBURY ST,42.361839,-71.059765,"(42.36183857, -71.05976489)"
413668,I020674147-00,3125,Warrant Arrests,WARRANT ARREST,A1,77,NaN,2019-05-23 08:00:00,2019,5,Thursday,8,Part Three,NEW SUDBURY ST,42.361839,-71.059765,"(42.36183857, -71.05976489)"
413669,I020669075-00,3125,Warrant Arrests,WARRANT ARREST,A1,77,NaN,2019-05-23 08:00:00,2019,5,Thursday,8,Part Three,NEW SUDBURY ST,42.361839,-71.059765,"(42.36183857, -71.05976489)"
413670,I020662996-00,3125,Warrant Arrests,WARRANT ARREST,A1,77,NaN,2019-05-23 08:56:00,2019,5,Thursday,8,Part Three,NEW SUDBURY ST,42.361839,-71.059765,"(42.36183857, -71.05976489)"
413671,I010370257-00,3125,Warrant Arrests,WARRANT ARREST,E13,569,NaN,2016-05-31 19:35:00,2016,5,Tuesday,19,Part Three,NEW WASHINGTON ST,42.302333,-71.111565,"(42.30233307, -71.11156487)"

Observation: Each record has a single offense from an incident.

In [16]:
#grouping the incident number and aggregate the data using count method.
crime.groupby('INCIDENT_NUMBER').count()

,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
INCIDENT_NUMBER,,,,,,,,,,,,,,,,
I010370257-00,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1
I020662996-00,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1
I020669075-00,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1
I020674147-00,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1
I020691165-00,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
I192064800,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1
I192064803,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1
I192064808,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1
I192064810,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1
I192064813,1,1,1,1,1,0,1,1,1,1,1,1,1,0,0,1

Observation: Each row has the distinct incident number with all offenses tagged to the incident.

In [27]:
offense=pd.read_excel(r'C:\Users\admin\Desktop\offense_codes_boston.xlsx')
offense

     CODE                                       NAME
0     612           LARCENY PURSE SNATCH - NO FORCE
1     613                        LARCENY SHOPLIFTING
2     615    LARCENY THEFT OF MV PARTS & ACCESSORIES
3    1731                                     INCEST
4    3111                  LICENSE PREMISE VIOLATION
..    ...                                        ...
571  1806  DRUGS - CLASS B TRAFFICKING OVER 18 GRAMS
572  1807  DRUGS - CLASS D TRAFFICKING OVER 50 GRAMS
573  1610    HUMAN TRAFFICKING - COMMERCIAL SEX ACTS
574  2010                              HOME INVASION
575  1620  HUMAN TRAFFICKING - INVOLUNTARY SERVITUDE

[576 rows x 2 columns]

Observation: Each record represents a single incident.

Granulairty Observation: 
    > Dataset offense has coarser granulairty than crimes dataset because within an incident there can be multiple offenses.

# Identify Scope

In [40]:
crime

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,I192064813,3006,Medical Assistance,SICK/INJURED/MEDICAL - PERSON,D14,794,NaN,2019-08-17 21:00:00,2019,8,Saturday,21,Part Three,QUINT AVE,NaN,NaN,"(0.00000000, 0.00000000)"
1,I192064810,3410,Towed,TOWED MOTOR VEHICLE,B3,435,NaN,2019-08-17 21:15:00,2019,8,Saturday,21,Part Three,PEACEVALE RD,42.287167,-71.076335,"(42.28716674, -71.07633479)"
2,I192064808,2003,Offenses Against Child / Family,CHILD ENDANGERMENT (NO ASSAULT),C11,355,NaN,2019-08-17 19:33:00,2019,8,Saturday,19,Part Two,GIBSON ST,42.297555,-71.059709,"(42.29755533, -71.05970910)"
3,I192064803,802,Simple Assault,ASSAULT SIMPLE - BATTERY,E18,554,NaN,2019-08-17 20:55:00,2019,8,Saturday,20,Part Two,METROPOLITAN AVE,42.272509,-71.123190,"(42.27250898, -71.12318965)"
4,I192064800,3114,Investigate Property,INVESTIGATE PROPERTY,E18,502,NaN,2019-08-17 19:39:00,2019,8,Saturday,19,Part Three,PHILBRICK ST,42.285459,-71.118027,"(42.28545883, -71.11802667)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413667,I020691165-00,3125,Warrant Arrests,WARRANT ARREST,A1,77,NaN,2019-05-23 08:00:00,2019,5,Thursday,8,Part Three,NEW SUDBURY ST,42.361839,-71.059765,"(42.36183857, -71.05976489)"
413668,I020674147-00,3125,Warrant Arrests,WARRANT ARREST,A1,77,NaN,2019-05-23 08:00:00,2019,5,Thursday,8,Part Three,NEW SUDBURY ST,42.361839,-71.059765,"(42.36183857, -71.05976489)"
413669,I020669075-00,3125,Warrant Arrests,WARRANT ARREST,A1,77,NaN,2019-05-23 08:00:00,2019,5,Thursday,8,Part Three,NEW SUDBURY ST,42.361839,-71.059765,"(42.36183857, -71.05976489)"
413670,I020662996-00,3125,Warrant Arrests,WARRANT ARREST,A1,77,NaN,2019-05-23 08:56:00,2019,5,Thursday,8,Part Three,NEW SUDBURY ST,42.361839,-71.059765,"(42.36183857, -71.05976489)"
413671,I010370257-00,3125,Warrant Arrests,WARRANT ARREST,E13,569,NaN,2016-05-31 19:35:00,2016,5,Tuesday,19,Part Three,NEW WASHINGTON ST,42.302333,-71.111565,"(42.30233307, -71.11156487)"

Observations: This report contains the crime incidents in Boston spanning from 15-june-15 2015 to 17-aug-2019. This has limited scope related to geographic location and time coverage.

# Temporality

In [44]:
crime['OCCURRED_ON_DATE']

0         2019-08-17 21:00:00
1         2019-08-17 21:15:00
2         2019-08-17 19:33:00
3         2019-08-17 20:55:00
4         2019-08-17 19:39:00
                 ...
413667    2019-05-23 08:00:00
413668    2019-05-23 08:00:00
413669    2019-05-23 08:00:00
413670    2019-05-23 08:56:00
413671    2016-05-31 19:35:00
Name: OCCURRED_ON_DATE, Length: 413672, dtype: object

Observations: OCCURED_ON_DATE series does not contain suspicious values and have the format in the timestamp (year-mm-dd)

# Faithfulness

In [45]:
crime.head()

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,I192064813,3006,Medical Assistance,SICK/INJURED/MEDICAL - PERSON,D14,794,NaN,2019-08-17 21:00:00,2019,8,Saturday,21,Part Three,QUINT AVE,NaN,NaN,"(0.00000000, 0.00000000)"
1,I192064810,3410,Towed,TOWED MOTOR VEHICLE,B3,435,NaN,2019-08-17 21:15:00,2019,8,Saturday,21,Part Three,PEACEVALE RD,42.287167,-71.076335,"(42.28716674, -71.07633479)"
2,I192064808,2003,Offenses Against Child / Family,CHILD ENDANGERMENT (NO ASSAULT),C11,355,NaN,2019-08-17 19:33:00,2019,8,Saturday,19,Part Two,GIBSON ST,42.297555,-71.059709,"(42.29755533, -71.05970910)"
3,I192064803,802,Simple Assault,ASSAULT SIMPLE - BATTERY,E18,554,NaN,2019-08-17 20:55:00,2019,8,Saturday,20,Part Two,METROPOLITAN AVE,42.272509,-71.123190,"(42.27250898, -71.12318965)"
4,I192064800,3114,Investigate Property,INVESTIGATE PROPERTY,E18,502,NaN,2019-08-17 19:39:00,2019,8,Saturday,19,Part Three,PHILBRICK ST,42.285459,-71.118027,"(42.28545883, -71.11802667)"

Observations: Is considered as failthful, if you think it accuately captures reality. It may contain unreleastic values for e.g. dates in the future that represents events in the past, non existant locations, negative values that represent amounts and extreme outliers. Unfailthful data contain inconsistencies for e.g. age column and birthday column not matching up, handentered can contain spelling mistakes.